<div class="center hero-unit">
    <table border = 0 cellpadding="4px">
      <tr>
	<td rowspan = "2">
	  <%= image_tag("costelloKitchen.jpg", alt: "Rails") %>
	</td>
	<td>
	  <%= image_tag("roseTeaCounter.jpg", alt: "Rails") %>
	</td>
      </tr>
      <tr>
	<td>
	  <%= image_tag("spiegelBath.jpg", alt: "Rails") %>
	</td>
      </tr>
    </table>
    <table rowspan = "2" cellpadding="4px">
      <tr>
	<td>
	  <p3>We may want to add some text here.</p3>
	</td>
      </tr>
    </table>
