<div class="center hero-unit">
 <!-- <tr>
    <td>
      <h1>blargh</h1>
    </td>
  </tr>-->

<p>
<table border = 0 cellpadding="4px">
<tr>
  <td rowspan = "2">
    <%= image_tag("costelloKitchen.jpg", alt: "Rails") %>
  </td>
  <td>
    <%= image_tag("bathroom.jpg", alt: "Rails") %>
  </td>
</tr>
<tr>
  <td>
    <%= image_tag("bathroom.jpg", alt: "Rails") %>
  </td>
</tr>
</table>
<!--</div>-->
</p>

