$navbarText: #000;
$navbarLinkColor: #000;
@import "bootstrap";

/* universal rules to be applied to all static sheets */

html {
    overflow-y: scroll;
}

body {
    color: #000;
    padding-top: 90px;
    border: 0px solid #000;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 20px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #eee;
    text-align: center;
    box-shadow: none;
    border: 0px solid #000;
}

h2 {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: normal;
}

p {
    font-size: 1.1em;
    font-weight:bold;
    line-height: 1.0em;
    border: 0px solid #000;
    border-bottom: 0px solid #000;
    text-decoration: underline;
    padding-right: 10px
}

p1 {
    font-size: 1.2em;
    line-height: 1.0em;
    border: 0px solid #000;
    border-bottom: 0px solid #000;
    font-style: italic;
    padding-left:10px;
    text-align: center;
}

p2 {
    font-size: 1.1em;
    line-height: 1.0em;
    border: 0px solid #000;
    border-bottom: 0px solid #000;
    padding-left:20px;
    text-align: right;
}

p3 {
    font-size: 1.1em;
    line-height: 1.5em;
    border: 0px solid #000;
    border-bottom: 0px solid #000;
    padding-top:30px;
    padding-left:0;
    text-align: left;
}

/* For modifications to my simple footer */
footer small {
    background: #fff;
    color: #999;
    float: left;
}

footer {
    margin-top: 0px;
    padding-top: 0px;
    border-top: 2px solid #eaeaea;
    color: #999;
}

footer small {
    color: #444;
    float: left;
}

/* For modifications to the bootstrap header */
.navbar-inner {
    background: #fff;
    box-shadow: none;
    border: 0px solid #000;
    padding-bottom : 0px;
    text-align: center;
    align: center;
}

navbar {
    text-color: #fff;
    text-align: right;
    align: center;
}

kitchen_table {
    margin-left: auto;
    margin-right:auto;
    align: right
}




/* to modify the default border of the hero unit, which surrounds the headers and page content */
.hero-unit {
    background: #fff;
    border: 0px solid #000;
    padding: 5px;
}